body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #D8CFBC;
    margin: 0;
    padding: 0;
    color: #11120D;
}

header {
    background-color: #565449;
    color: #FFFBF4;
    padding: 20px 0;
    text-align: center;
}

footer {
    background-color: #565449;
    color: #FFFBF4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 800px;
    margin: 50px auto;
    background-color: #FFFBF4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', sans-serif;
}

form label {
    font-size: 1.1em;
    color: #11120D;
    margin-bottom: 5px;
    display: block;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #D8CFBC;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}

form input[type="datetime-local"] {
    
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #565449;
    border-radius: 5px;
    background-color: #FFFBF4;
    color: #11120D;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="datetime-local"]:focus {
    border-color: #11120D;
    box-shadow: 0 0 5px rgba(17, 18, 13, 0.5);
}

form input[type="submit"] {
    background-color: #11120D;
    font-family: 'Times New Roman', sans-serif;
    color: #FFFBF4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #565449;
}

textarea {
    resize: vertical;
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    form input[type="text"],
    form textarea {
        font-size: 1em;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
