body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #D8CFBC;
    margin: 0;
    padding: 0;
    color: #11120D;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565449;
    color: #FFFBF4;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: #FFFBF4;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #FFFBF4;
    color: #565449;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    margin-right: 20px;
}


footer {
    background-color: #565449;
    color: #FFFBF4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    background-color: #11120D;
    color: #FFFBF4;
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #565449;
}

form {
    max-width: 800px;
    margin: 50px auto;
    background-color: #FFFBF4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', sans-serif;
}

form label {
    font-size: 1.1em;
    color: #11120D;
    margin-bottom: 5px;
    display: block;
}

form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #565449;
    border-radius: 5px;
    background-color: #FFFBF4;
    color: #11120D;
    font-size: 1em;
    font-family: 'Times New Roman', sans-serif;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

form select:focus {
    border-color: #11120D;
    box-shadow: 0 0 5px rgba(17, 18, 13, 0.5);
}

form select option {
    padding: 10px;
    font-size: 1em;
    font-family: 'Times New Roman', sans-serif;
    background-color: #FFFBF4;
}

form input[type="color"] {
    margin-bottom: 15px;
    font-size: 1em;
    font-family: 'Times New Roman', sans-serif;
    border: 1px solid #11120D;
    border-radius: 5px;
    background-color: #FFFBF4;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #D8CFBC;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form input[type="datetime-local"] {
    
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #565449;
    border-radius: 5px;
    background-color: #FFFBF4;
    color: #11120D;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="datetime-local"]:focus {
    border-color: #11120D;
    box-shadow: 0 0 5px rgba(17, 18, 13, 0.5);
}

form input[type="submit"] {
    background-color: #11120D;
    font-family: 'Times New Roman', sans-serif;
    color: #FFFBF4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #565449;
}

textarea {
    resize: vertical;
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    form input[type="text"],
    form textarea {
        font-size: 1em;
    }

    form input[type="submit"] {
        width: 100%;
    }
}
