body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #D8CFBC;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #565449;
    color: #FFFBF4;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: #FFFBF4;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #FFFBF4;
    color: #565449;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    margin-right: 20px;
}

footer {
    background-color: #565449;
    color: #FFFBF4;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.task-info {
    margin: 5px 0;
    font-size: 1em;
}

.task-label {
    font-weight: bold;
    color: #565449; /* Тёмно-серый цвет */
}

.task-value {
    color: #11120D; /* Чёрный текст */
}

.task-status {
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
    display: inline-block;
}

.status-pending {
    background-color: #FFC107; 
    color: #333;
}

.status-completed {
    background-color: #28A745; 
    color: #fff;
}

.status-overdue {
    background-color: #DC3545;
    color: #fff;
}

.deadline-overdue {
    color: #DC3545; 
    font-weight: bold;
}

.deadline-normal {
    color: #11120D;
}


.content {
    flex-grow: 1;
    max-width: 800px;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    background-color: #FFFBF4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.content a:hover {
    background-color: #565449;
    color: #FFFBF4;
}

.task-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.button {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    display: inline-block;
    background-color: #11120D;
    color: #FFFBF4;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #565449;
}

.content h3 {
    margin-top: 0;
    font-size: 1.8em;
    color: #565449;
}

.content p {
    line-height: 1.6;
    font-size: 1.0em;
    color: #11120D;
}

.content a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .content {
        padding: 10px;
        width: 100%;
    }
    .button {
        width: 100%;
        padding: 15px;
    }
}

.filter-panel {
    position: relative;
    width: 250px;
    height: auto;
    background-color: #565449;
    color: #FFFBF4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 30px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-panel h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin: 8px 0 5px;
    text-align: left;
}

select {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #FFFBF4;
    color: #333;
}

.button_filter_sort {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #11120D;
    color: #FFFBF4;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
}


.button_filter_sort:hover {
    background-color: #FFFBF4;
    color: #565449;
}
